<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Port Folio Website</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 header1">
                    <img src="/public/image/portFolio (2).jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-8 header2">
                    <div class="d-flex flex-column">
                        <div class="bg-dark text-white header-padding">
                            <div class="header-content">
                                <h1>Hari Om Panday</h1>
                                <p>(Web Developer and Blogger)
                                <p>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                    <div class="icons"><i class="fa fa-facebook"></i></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                    <div class="icons"><i class="fa fa-linkedin"></i></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                <div class="icons"><i class="fa fa-twitter"></i></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                <div class="icons"><i class="fa fa-instagram"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row text-center text-white">
                            <div class="p-4 font-div" data-toggle="collapse" data-target="#Home"
                                style="background-color: green;">
                                <i class="fa fa-home d-block fa-2x"></i>Home
                            </div>
                            <div class="p-4 font-div" data-toggle="collapse" data-target="#resume"
                                style="background: red;">
                                <i class="fa fa-graduation-cap d-block fa-2x"></i>Resume
                            </div>
                            <div class="p-4 font-div" data-toggle="collapse" data-target="#work"
                                style="background: #00E8E8;">
                                <i class="fa fa-folder d-block fa-2x"></i>Work
                            </div>
                            <div class="p-4 font-div" data-toggle="collapse" data-target="#contact"
                                style="background: yellow;">
                                <i class="fa fa-envelope d-block fa-2x"></i>Contact
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="collapse" id="Home">
                <div class="card" style="border: none; border-radius:0%">
                    <div class="card-header" style="background: green;">
                        <h2>My Skills</h2>
                        <p>My web developing skills are given bellow:-)</p>
                    </div>

                    <div class="skills card-body" style="background: green;">
                        <h4>HTML</h4>
                        <div class="progress mb-3" style="background-color: #969191;">
                            <div class="progress-bar progress-bar-striped progres-animated"
                                style="width: 90%;background-color:#00E8E8">
                            </div>
                        </div>
                        <h4>bootstrap</h4>
                        <div class="progress mb-3" style="background-color: #969191;">
                            <div class="progress-bar progress-bar-striped progres-animated"
                                style="width: 90%; background-color:#00E8E8">
                            </div>
                        </div>
                        <h4>CSS</h4>
                        <div class="progress mb-3" style="background-color: #969191;">
                            <div class="progress-bar progress-bar-striped progres-animated"
                                style="width: 80%; background-color:#00E8E8">
                            </div>
                        </div>
                        <h4>JavaScript</h4>
                        <div class="progress mb-3" style="background-color: #969191;">
                            <div class="progress-bar progress-bar-striped progres-animated"
                                style="width: 60%; background-color:yellow">
                            </div>
                        </div>
                        <h4>jQuery</h4>
                        <div class="progress mb-3" style="background-color: #969191;">
                            <div class="progress-bar progress-bar-striped progres-animated"
                                style="width: 60%; background-color:yellow">
                            </div>
                        </div>
                        <h4>Node.js</h4>
                        <div class="progress mb-3" style="background-color: #969191;">
                            <div class="progress-bar progress-bar-striped progres-animated"
                                style="width: 50%; background-color:red">
                            </div>
                        </div> 
                        <h4>MongoDB</h4>
                        <div class="progress mb-3" style="background-color: #969191;">
                            <div class="progress-bar progress-bar-striped progres-animated"
                                style="width: 90%; background-color:#00E8E8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="collapse" id="resume">
                <div class="card" style="border: none; border-radius:0%">
                    <div class="card-header" style="background: red;">
                        <h2>My Resume</h2>
                        <p>(My resume are given bellow please read it)</p>
                    </div>
                    <div class="card-body" style="background-color: red;">
                        <div class="objective my-4">
                        <h3 class="my-4">Objective</h3>
                        <p> To seek employment in a  company as a Web Developer where profound knowledge of  HTML5, CSS3,  Bootstrap, JavaScript, Node.js, mongoDB and  ability to effectively design, maintain, and manage enterprise level CMS solutions will be applied.</p>
                    </div>
                    <div class="fieldInterest">
                        <h3>Field of Interests</h3>
                            <p>Web Development</p>
                            <p>Blogging</p>
                            <p>Electronics Fields</p>
                            <p>IoT fields</p>
                    </div>
                        <div class="education my-4">
                            <h3 class="my-4">Educational Details</h3>
                             <table class="table table-bordered table-hover text-center" id="myTable">
                <thead class="thead-dark font-weight-bold">
                  <tr>
                    <th scope="col">Exam/Degree</th>
                    <th scope="col">Board/Univercity</th>
                    <th scope="col">Passing Year</th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody style="background-color: red; color: yellow; font-weight: bold;">
                    
                  <tr>
                    <td>B.Tech(ECE)</td>
                    <td>AKTU</td>
                    <td>2020</td>
                    <td>85.2%</td>
                  </tr>
                  <tr>
                    <td>12th</td>
                    <td>UP</td>
                    <td>2016</td>
                    <td>65.4%</td>
                  </tr> 
                  <tr>
                    <td>10th</td>
                    <td>UP</td>
                    <td>2014</td>
                    <td>83%</td>
                  </tr>
                </tbody>
              </table>
                        </div>
                        <div class="Training">
                            <h3>Training</h3>
                            <p>IoT=>Using Arduino </p>
                            <p>IoT=>Using Raspberry Pi</p>
                            <h6>FROM  => CETPA INFOTECH PVT.LTD.NOIDA SECTOR 2 (An ISO 9001:2015 Certified Company)</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="collapse" id="work">
                <div class="card" style="border: none; border-radius:0%">
                    <div class="card-header" style="background: #00E8E8;">
                        <h2>My Portfolio</h2>
                        <p>(There are given my projects details)</p>
                    </div>
                    <div class="card-body" style="background: #00E8E8;">
                        <div class="work-details">
                            <h3>What have I build?</h3>
                            <p>I have made many type of projects some projects and his links are given bellow</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="card projects">
                                    <div class="card-header">
                                        <img src="/public/image/iot.jpg" alt="" class="img-fluid img-thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5>My Personal Website</h5>
                                        <div class="card-detail">
                                            <a href="https://technicalhari.github.io/myportfolio.github.io/">Click on this link to see Website</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="card projects">
                                    <div class="card-header">
                                        <img src="/public/image/car1.jpg" alt="IoT" class="img-fluid img-thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5>Car Dealership Website</h5>
                                        <div class="card-detail">
                                            <a href="https://github.com/TECHNICALHARI/cardealer.github.io">Click on this link to see Website</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="card projects">
                                    <div class="card-header">
                                        <img src="/public/image/corona1.jpg" alt="" class="img-fluid img-thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5>Covid-19 Live Update,Symtoms and Prevention</h5>
                                        <div class="card-detail">
                                            <a href="https://github.com/TECHNICALHARI">Click on this link to see Website</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project_details">
                        <h3>Project Details</h3>
                    </div>
                    <div class="project_content">
                        <h3>Personal Portfolio Website</h3>
                        <p> I have made my personal portfolio website. Where user can contact me for make the Website and here can also read my blog on most famous and new technology Internet of Things (IoT).</p>
                        <br>
                        <h3>Responsive Car Dealership Website</h3>
                        <p>I have made responsive car dealership website where customers can buy the any type of car and can also compare the features with other car.</p>
                        <br>
                        <h3>All About Corona</h3>
                        <p>I have made corona Live tracker app where you can track corona live cases in all over the world and also you will know here corona Symtoms and Preventions.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="collapse" id="contact">
                <div class="card" style="border: none; border-radius:0%">
                    <div class="card-header" style="background: yellow;">
                        <h2>Contact Us</h2>
                        <p>For any type help and suggestion you can contact me any time.</p>
                    </div>
                    <div class="card-body contact-header">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-10 col-10 mx-auto d-flex justify-content-center align-items-center">
                                <div class="contact-details">
                                    <h3><span><i class="fa fa-phone text-success"></i></span> My Contact details</h3>
                                    <h5>Mobile Number:</h5>
                                    <p> 8859509277</p>
                                    <h5>Another Number:</h5>
                                    <p>6387629482</p>
                                    <h5>Email Id:</h5>
                                    <p>pandayhariom2898@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-10 col-10 mx-auto d-flex justify-content-center align-items-center">
                                <div class="your-contact">
                                    <h3><i class="fa fa-phone text-success"></i></span> Your Contact Details</h3>
                                    <form action="/" method="POST">
                                        <div class="form-group">
                                            <label for="user">Username:</label>
                                            <input type="text" name="username" id="username" class="form-control">
                                            <span id="user" class="text-danger font-weight-bold"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="number">Mobile Number:</label>
                                            <input type="text" name="number" id="number" class="form-control">
                                            <span id="monumber" class="text-danger font-weight-bold"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="user">Email Id:</label>
                                            <input type="text" name="email" id="email" class="form-control">
                                            <span id="emailid" class="text-danger font-weight-bold"></span>
                                        </div>
                                        <div id="submitBtn">
                                            <button type="submit" id="submit" class="submit btn">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <footer class="p-5 bg-dark text-center">
                <button class="btn"><i class="fa fa-download fa-2x"></i></button>
            </footer>
        </div>


    </header>
<script src="/public/js/jquery-3.5.1.min.js"></script>
<script src="/public/js/bootstrap.js"></script>


    <script>
        //For Collapse
        $('.font-div').click(function(){
            $('.collapse').collapse('hide');
        });
        //End Collapse
        $(document).ready(function () {
            $('#submit').click(function () {
                var username = $('#username').val();
                var number = $('#number').val();
                var email = $('#email').val();
                if (username == "") {
                    $('#user').html('**Please enter the name');
                    return false;
                }
                else if ((username.length <= 2) || (username.length >= 20)) {
                    $('#user').html('**Please enter the correct name');
                    return false;
                }
                else if (!isNaN(username)) {
                    $('#user').html('**Text are not allowed');
                    return false;
                }
                else if (number == "") {
                    $('#monumber').html('Please enter the number');
                    return false;
                }
                else if (number.length != 10) {
                    $('#monumber').html('Please enter the write number');
                    return false;
                }
                else if (isNaN(number)) {
                    $('#monumber').html('Text are not allowed');
                    return false;
                }
                else if (email == "") {
                    $('#emailid').html('Please enter the email');
                    return false;
                }
               else if (email.indexOf('@') <= 0) {
                    $('#emailid').html = "** Please write the correct email id";
                    return false;

                }
               else if ((email.charAt(email.length - 4) != '.') && (email.charAt(email.length - 3) != '.')) {
                    $('#emailid').html = "** Domain name is invalid";
                    return false;

                }
               else if (email.charAt(email.length - 10) != '@') {
                    $('#emailid').html= "** Please write the correct email company name";
                    return false;

                }
            });
        });

    </script>

{{!-- <script src="https://assets3.lottiefiles.com/datafiles/dNJ1QgOiCpNbFKD/data.json"></script>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> --}}
{{!-- <lottie-player src="https://assets3.lottiefiles.com/datafiles/dNJ1QgOiCpNbFKD/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; color: red;"  loop controls autoplay></lottie-player> --}}

</body>

</html>